
  .dropdown-menu {
    background-color: #222;
  }
  
  .dropdown-menu>li>a {
    color: #fff;
  }
  
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
    color: #ccc;
    background-color: transparent;
  }